.game {
  display: flex;
  justify-content: space-between;
  background-color: #2e3532;
  width: 80vw;
}

.title-artist {
  font-size: 2em;
  margin: 0;
  color :white;
}

.score {
  font-size: 2em;
  margin: 0;
  color: orange;

}

.game-container {
  height: 25vh;
  display: grid;
  border-radius: 5px;
  margin-bottom: 5%;
}

.loading {
  height: 25vh;
  width: 80vw;
  display: grid;
  border-radius: 5px;
  font-size: 50px;
}


 .answer-response {
   font-size: 1.8vw;
   color: orange;
   padding-left: 10px;
 }

 .answer-response-correct {
  font-size: 1.8vw;
  color: #5efc8d;
}
 
.white {
  color: white;
  font-size: 1.8vw;
}

.incorrect-container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  height: 2em; 
}

.lyrics-main {
  height: 14em;
  background-color: white;
  width:80vw;
}
