.game {
	display: flex;
	justify-content: space-between;
	background-color: #2e3532;
	/* width: 80vw; */
}

.title-artist {
	font-size: 2em;
	margin: 0;
	color: white;
}

.score {
	font-size: 2em;
	margin: 0;
	color: orange;
}

.game-container {
	margin: -2em;
}

.loading {
	padding-top: 1em;
	border-radius: 5px;
	font-size: 50px;
}

.answer-response {
	font-size: 1.8vw;
	color: orange;
}
.answer-response p {
	padding-left: 10px;
}

.answer-response-correct {
	font-size: 1.8vw;
	color: #5efc8d;
}

.white {
	color: white;
	font-size: 1.8vw;

}

.incorrect-container {
	background: #2e3532;
	display: flex;
	justify-content: center;
	height: 2em;
}


.lyrics-main {
	background-color: white;
	display: grid;
	border-radius: 5px;
	padding: 2em;
	height: 30vh;
}

.btn {
	border-bottom: 5px solid #5efc8d;
	color: black;
	cursor: pointer;
	font-size: 30px;
	margin: auto;
	width: 170px;
	text-decoration: none;
}
.song-link {
	background-color: #2e3532;
	padding-bottom: 2em;
}

.link {
	color: white;
	font-size: 2em;
}

.link:hover {
	color:  #5efc8d;
	font-size: 2em;
}
