.input-box { 
  padding: 3px; 
  border-width: 5px; 
  text-align: center; 
  font-size: 23px; 
  border-radius: 5px; 
	color: #2e3532;
  border-color: #5efc8d;
  margin: 10px;
  font-size: 2vw;
} 
.input-box:focus { 
  outline: none; 
} 

.next-btn {
  font-size: 2em;
  padding: .1em;
  text-align: center;
  color:  #5efc8d;
  background-color: white;
  border-color: #5efc8d;
  border-width: 5px;
  border-radius: 5px;
  margin-top: 3%;
}

.next-btn:focus {
  outline: none;
}

.game-txt {
  font-size: 2em;
  width: auto;
}

.enter-input {
  margin: 0;
}